* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  display: flex;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  color: white;
  background: rgb(57, 56, 56);
  transition: background 0.75s ease-out;
}

button:hover {
  background: rgb(88, 83, 83);
}

nav {
  min-height: 10vh;
  background: rgb(88, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.75s ease-out;
}

.nav-slide {
  transform: translateY(-100%);
}

p {
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s;
}

.fade {
  opacity: 0;
}
